<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/navbar_prelogin.ejs %>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
      <%= error.message %>
  </div>
  <div class="row">
    <div class="text-center">
      <a href="/users/login" class="btn btn-default" role="button">Try Again</a>
	</div>
  </div>
</div>

</body>
</html>