<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>
  <% include ../../partials/navbar.ejs %>
    <form action="/users/logout/submit" method="post">
      <h3>Are you sure you want to log out? Press your browser's back button to cancel.</h3>
      <button type="submit" class="btn btn-success">Confirm</button>
    </div>
  </div>
    </form>
</body>
</html>
