<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/navbar_prelogin.ejs %>
  <div class="jumbotron text-center">
	  <div class="container">
	    <h1>Welcome to Codeconomy!</h1>
	    <p>Our platform allows you to trade today's unwanted coupon codes for big savings in the future!</p>
	    <a type="button" class="btn btn-lg btn-default" href="/coupons"> Explore Coupons</a>
	  </div>
  </div>

</body>
</html>
