<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/navbar.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Buy and sell coupons!</h1>
      <p>Select a category below, explore all listings, or post your own code!</p>
    </div>
  </div>

  <div class="text-center">
    <form action="/coupons/search" method="post">
      <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="search">
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-sm btn-primary">Search</button>
      </div>
    </form>
  </div>

  <div class="col-xs-12" style="height:30px;"></div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <div class="text-center">
        <a type="button" class="btn-primary btn-lg btn-block" href="/coupons/clothing">👖<br/>Clothing</a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="text-center">
        <a type="button" class="btn-primary btn-lg btn-block" href="/coupons/food">🍽<br/>Food</a>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="col-xs-12" style="height:30px;"></div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <div class="text-center">
        <a type="button" class="btn-primary btn-lg btn-block" href="/coupons/electronics">🖥<br/>Electronics</a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="text-center">
        <a type="button" class="btn-primary btn-lg btn-block" href="/coupons/concerts">🎟<br/>Concerts</a>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="col-xs-12" style="height:30px;"></div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="text-center">
        <a type="button" class="btn-primary btn-lg btn-block" href="/coupons/other">📦<br/>Other</a>
      </div>
    </div>
  </div>

  <div class="col-xs-12" style="height:30px;"></div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="text-center">
        <a type="button" style="background-color:#77C9D4" class="btn-primary btn-lg btn-block" href="/coupons/explore">Explore all categories</a>
      </div>
    </div>
  </div>

  <div class="col-xs-12" style="height:30px;"></div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="text-center">
        <a type="button" style="background-color:#F7B733" class="btn-primary btn-lg btn-block" href="/coupons/postCoupon">Post a coupon</a>
      </div>
    </div>
  </div>

</body>
</html>
