<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/coupons">Explore</a></li>
        <li><a href="/users/myCoupons/selling">Coupons for sale</a></li>
        <li><a href="/users/myCoupons/purchased">Purchased Coupons</a></li>
        <li><a href="/users/myProfile">My Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/myprofile">Account Balance: <%= user.get("credits") %>🔑</a></li>
        <li><a href="/users/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
